</div>
<!--Login modal-->
<div class="justify-center">
	<div id="loginModal" class="modal">
		<form class="modal-content animate" action="/users/login" method="POST">
			<div class="imgcontainer">
				<span onclick="document.getElementById('loginModal').style.display='none'" class="close" title="Close Modal">&times;</span>
			</div>

			<p class="h4 mb-3 text-center">Please sign in <i class="fas fa-sign-in-alt"></i></p>

			<!-- Username -->
			<input type="text" id="inputUsername" class="form-control mb-3" placeholder="Username" name="username" required autofocus>

			<!-- Password -->
			<input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" name="password" required>
		
			<!-- Sign in button -->
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

			<!-- Forgot Password-->
			<div class="form-signin">
				<a href="/forgot">Forgot Password</a>
			</div>

			<div class="container" style="background-color:#f1f1f1">
				<button class="btn btn-danger" type="button" onclick="document.getElementById('loginModal').style.display='none'" class="cancelbtn">Cancel</button>
			</div>
		</form>
	</div>
<!--Register modal-->
	<div id="registerModal" class="modal">
		<form class="modal-content animate" action="/users/register" method="POST">
			<div class="imgcontainer">
				<span onclick="document.getElementById('registerModal').style.display='none'" class="close" title="Close Modal">&times;</span>
			</div>

			<p class="h4 mb-3 text-center">Sign up <i class="fas fa-sign-in-alt"></i></p>
			
			<!--Username-->
			<input type="text" id="username" class="form-control" placeholder="Username" name="username" required autofocus>

			<!-- E-mail -->
			<input type="email" id="email" class="form-control" placeholder="E-mail" name="email" required autofocus>

			<!-- Password -->
			<input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
			<!-- Confirm Password -->
			<input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" name="confirmPassword" required>
			
			<!-- Confirm secretCode -->
			<input type="password" id="secretCode" class="form-control" placeholder="secretCode" name="secretCode">
		
			<!-- Sign up button -->
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

			<div class="container" style="background-color:#f1f1f1">
				<button class="btn btn-danger" type="button" onclick="document.getElementById('registerModal').style.display='none'" class="cancelbtn">Cancel</button>
			</div>
		</form>
	</div>
</div>

<script>

</script>
		<!-- Bootstrap and their dependencies-->
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>