<!DOCTYPE html>
<html lang="en ">
	<head>
		<!--Make site responsive on mobile/tablet device-->
		
		<meta name="description" content="Free site to add and track places you want to go">
	 	<meta name="keywords" content="Kyoto, Japan, travel">
		<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Kyoto Sightseeing</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<script src="https://kit.fontawesome.com/4596b03b20.js" crossorigin="anonymous"></script>

		<script type="text/javascript" src='/js/main.js'></script>
		
	</head>
		
	<body>
		<!--Begn the Nav bar functionality-->
		<nav class="navbar navbar-expand-md navbar-dark navbar-custom">
			<a class="navbar-brand" href="/">Kyoto Sightseeing</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!--Create an option that will uncollapse the Travel Destinations sub-menu -->
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<!--Control the toggle of the sub-navigation. If the page is too small, we don't want this option to show-->
					<li class="nav-item d-none d-md-block">
						<a id="travelLink" class="nav-link" data-toggle="collapse" href="#travelDestinations" role="button" aria-expanded="false" aria-controls="travelDestinations">Travel Destinations &raquo;</a>
					</li>
					<!--If the page is too small, show the following instead-->
					<li class="nav-item d-block d-md-none">
						<a class="nav-link" data-toggle="collapse" href="#smTravelDestinations" role="button" aria-expanded="false" aria-controls="smTravelDestinations">Travel Destination &raquo;</a>
						<ul class="navbar-nav collapse" id="smTravelDestinations">
							<li class="nav-item"><a href="/destinations" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;View all destinations</a></li>
							<li class="nav-item"><a href="/destinations/entertainment" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;Restraunts &amp; Shops</a></li>
							<li class="nav-item"><a href="/destinations/temples" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;Temples &amp; Shriness</a></li>
							<li class="nav-item"><a href="/destinations/exploration" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;Cities to visit</a></li>
							<li class="nav-item"><a href="/destinations/hotels" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;Hotels &amp; Ryokans</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li>
						<!--Search form-->
						<div class="text-center mr-3">
							<form class="form-inline" action="/destinations" method="GET">
								<div class="mt-2">
									<input class="form-control" type="text" name="search" placeholder="Search Destinations">
									<input class="btn btn-light" type="submit" value="Search">
								</div>
							</form>
						</div>
					</li>
					<li class="nav-item user-dropdown">
						<% if(currentUser){ %>
							<a href="#" class="nav-link">
								Welcome, <%=currentUser.username%>
							</a>
							<div class="user-dropdown-content">
								<a href="/users/profile/<%=currentUser._id%>"><strong>User profile</strong></a>
								<% if(currentUser.isAdmin){ %>
									<a class="nav-link" href="/admin">Admin page</a>
								<% } %>
							</div>
						<% } %>
					</li>
					<% if(currentUser){ %>
					<li class="nav-item">
						<a href="/destinations/create/new" class="nav-link"><strong>Add destination</strong></a>
					</li>
					<% }%>
					<% if(!currentUser){ %>
						<!--If the page is big enough, allow them to log in with the modal-->
						<li class="nav-item d-none d-md-block">
							<a class="nav-link" onclick="document.getElementById('loginModal').style.display='block'">Login</a>
						</li>
						<!--If the page is too small, take them to the login page-->
						<li class="nav-item d-block d-md-none">
							<a class="nav-link" href="/users/login">Login</a>
						</li>
						<!--If the page is big enough, allow them to register via the modal-->
						<li class="nav-item d-none d-md-block">
							<a class="nav-link" onclick="document.getElementById('registerModal').style.display='block'">Sign up</a>
						</li>
						<!--If the page is too small, take them to the register page-->
						<li class="nav-item d-block d-md-none">
							<a class="nav-link" href="/users/register">Sign up</a>
						</li>
					<% } %>
					<% if(currentUser){ %>
						<li class="nav-item">
							<a class="nav-link" href="/users/logout">Logout</a>
						</li>
					<% } %>
				</ul>
			</div>
	  	</nav>
		<!--End main nav bar functionality-->

		<!--Begin Travel Destinations sub-menu-->
		<div class="row trav-sub-menu text-center">
			<div class="col">
				<div class="collapse"  id="travelDestinations">
					<div class="card-group">
						
						<!--Drop down for viewing everything, unsorted-->
						<a href="/destinations/" class="card img-fluid">
							<div class="card img-fluid nav-response">
								<img class="card-img-top" src="https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="All Destinations">
								<div class="card-img-overlay d-flex justify-content-center align-items-center">
									<div>
										<h5 class="card-title">View All Destinations</h5>
										<p class="card-text subtext">See all user suggested destinations in Kyoto</p>
									</div>
								</div>
							</div>
						</a>
						
						<!--Drop down for the the restraunts and shops option-->
						<a href="/destinations/entertainment" class="card img-fluid">
							<div class="card img-fluid nav-response">
								<img class="card-img-top" src="https://images.unsplash.com/photo-1508006728353-6ecef00dcbb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" alt="Restraunts & Shops">
								<div class="card-img-overlay d-flex justify-content-center align-items-center">
									<div>
										<h5 class="card-title">Restaurants &amp; Shops</h5>
										<p class="card-text subtext">Find user suggested places to eat and shop</p>
									</div>
								</div>
							</div>
						</a>
						
						<!--Drop down for the temples and shrines option-->
						<a href="/destinations/temples" class="card img-fluid">	
						<div class="card img-fluid nav-response">
							<img class="card-img-top" src="https://images.unsplash.com/photo-1587000129762-d5ce8ae1cac3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Temples & Shrines">
							<div class="card-img-overlay d-flex justify-content-center align-items-center">
								<div>
									<h5 class="card-title">Temples &amp; Shrines</h5>
									<p class="card-text subtext">Find user suggested temples and shrines</p>
								</div>
							</div>
						</div>
						</a>
						
						<!--Drop down for the cities option-->
						<a href="/destinations/exploration" class="card img-fluid">
						<div class="card img-fluid nav-response">
							<img class="card-img-top" src="https://images.unsplash.com/photo-1565362458384-9bad71cfc92d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Cities">
							<div class="card-img-overlay d-flex justify-content-center align-items-center">
								<div>
									<h5 class="card-title">Cities to Visit</h5>
									<p class="card-text subtext">Find user suggested cities to visit within Kyoto</p>
								</div>
							</div>
						</div>
						</a>
						
						<!--Drop down for the hotels and Ryokan option-->
						<a href="/destinations/hotels" class="card img-fluid">
						<div class="card img-fluid nav-response">
							<img class="card-img-top" src="https://images.unsplash.com/photo-1444201983204-c43cbd584d93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Hotels">
							<div class="card-img-overlay d-flex justify-content-center align-items-center">
								<div>
									<h5 class="card-title">Hotels &amp; Ryokans</h5>
									<p class="card-text subtext">Find user suggested places to spend the night</p>
								</div>
							</div>
						</div>
						</a>
						<!--Needed for spacing purposes-->
						<div class="card hidden"></div>
					</div><!--Close 'card-group' div-->
				</div><!--Close the 'collapse' div-->
			</div><!--Close the col div-->
		</div><!--Close the row div-->
		<!--End Travel Destinations sub-menu-->
		
		<div class="container mt-5">
			<!--Check if an error exists and that it has a length to it-->
			<% if(error && error.length > 0) { %>
				<!--If it does, display the alert-->
				<div class="alert alert-danger">
					<%=error%>
				</div>
			<% } %>
			<!--Check if there is a success and that there is a length it-->
			<% if(success && success.length >0){ %>
				<!--If it does, display the alert-->
				<div class="alert alert-success">
					<%=success%>
				</div>
			<% } %>
		</div>
		
		<div class="container body-white">
			
		
