<%- include("./partials/header")%>

	<div class="container form-background">
		<form action="/login" method="POST" class="form-signin">
					
			<p class="h4 mb-3 text-center">Please sign in <i class="fas fa-sign-in-alt"></i></p>

			<!-- Username -->
			<input type="text" id="inputUsername" class="form-control mb-3" placeholder="Username" name="username" required autofocus>

			<!-- Password -->
			<input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" name="password" required>
		
			<!-- Sign in button -->
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

		</form>
		<!-- Forgot Password-->
		<div class="form-signin">
			<a href="/forgot">Forgot Password</a>
		</div>
	</div>
	
		
<%- include("./partials/footer")%>