<%- include("./partials/header")%>

	<div class="container form-background">
		
		<form class="text-center p-2" action="/register" method="POST">

			<p class="h4 mb-3">Sign up <i class="fas fa-sign-in-alt"></i></p>

			<!-- E-mail -->
			<input type="email" id="email" class="form-control mb-3" placeholder="E-mail" name="email" required autofocus>

			<!-- Password -->
			<input type="password" id="password" class="form-control mb-3" placeholder="Password" name="password" required>
			<!-- Confirm Password -->
			<input type="password" id="confirmPassword" class="form-control mb-3" placeholder="Password" name="confirmPassword" required>
			
			<!-- Confirm secretCode -->
			<input type="password" id="secretCode" class="form-control mb-3" placeholder="secretCode" name="secretCode" required>
		
			<!-- Sign up button -->
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

			<hr>

			<!-- Forgot Password-->
			<div class="form-signin">
				<a href="/forgot">Forgot Password</a>
			</div>

		</form>
	</div>
	
		
<%- include("./partials/footer")%>